blinker==1.9.0
click==8.2.1
colorama==0.4.6
et_xmlfile==2.0.0
Flask==3.1.1
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
numpy==2.3.1
opencv-python==4.11.0.86
openpyxl==3.1.5
pandas==2.3.1
pillow==12.0.0
psycopg[binary]==3.2.9
python-dateutil==2.9.0.post0
pytz==2025.2
reportlab==4.4.6
six==1.17.0
SQLAlchemy==2.0.43
typing_extensions==4.14.1
tzdata==2025.2
Werkzeug==3.1.3