altgraph==0.17.4
blinker==1.9.0
charset-normalizer==3.4.4
click==8.2.1
colorama==0.4.6
et_xmlfile==2.0.0
Flask==3.1.1
greenlet==3.2.4
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
numpy==2.3.1
opencv-python==4.11.0.86
openpyxl==3.1.5
packaging==25.0
pandas==2.3.1
pefile==2023.2.7
pillow==12.0.0
psycopg2-binary==2.9.10
pyinstaller==6.14.1
pyinstaller-hooks-contrib==2025.5
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32-ctypes==0.2.3
reportlab==4.4.6
six==1.17.0
SQLAlchemy==2.0.43
typing_extensions==4.14.1
tzdata==2025.2
Werkzeug==3.1.3
